////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Archives: Clean 01 -
// gPersianDate Compact Archives Markup

////////////////////////////////////////////////////////////////////////////////

$theme-grid-gutter:        20px !default;
$padding-small-vertical:   5px !default;
$padding-small-horizontal: 10px !default;

////////////////////////////////////////////////////////////////////////////////
.-wrap.date-archives-clean {
  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  dl {
    display: grid;
    grid-template-columns: max-content auto;
  }

  dt {
    grid-column-start: 1;
  }

  dd {
    grid-column-start: 2;
  }

  .-day-duplicate {
    display: none;
  }
}
