////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Archives: Calendar 01 - 2020-05-25
// gPersianDate Calendar Markup

////////////////////////////////////////////////////////////////////////////////

$theme-grid-gutter:        20px !default;
$padding-small-vertical:   5px !default;
$padding-small-horizontal: 10px !default;

////////////////////////////////////////////////////////////////////////////////
// .-wrap.date-archives-calendar {}
