////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gPersianDate Partials: DatePicker

////////////////////////////////////////////////////////////////////////////////
.gpersiandate-datepicker {
  position: relative;
  margin: 0 5px 0 0;

  .dashicons {
    position: absolute;
    right: 4px;
    top: 0;
    color: #ddd;
  }

  input {
    width: 115px !important;
    padding: 2px 4px 2px 2px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
  }
}
