////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gPersianDate Partials: Blocks: All

////////////////////////////////////////////////////////////////////////////////
.gpersiandate-block-align-left {
  text-align: left;
}

.gpersiandate-block-align-center {
  text-align: center;
}

.gpersiandate-block-align-right {
  text-align: right;
}

////////////////////////////////////////////////////////////////////////////////
