////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gPersianDate Partials: DatePicker: Missing

////////////////////////////////////////////////////////////////////////////////
.ui-datepicker {
  .ui-datepicker-buttonpane {
    display: flex;
    flex-direction: row-reverse;

    button {
      border: none;
      border-radius: 0;
      padding: 8px;
      width: 50%;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  // .ui-widget-content {}
  // .ui-helper-clearfix {}
}
